

<div id="map" style="margin: 0 20px;">
    <select style="margin: 10px 0; font-size: 16px;" v-model="selectedRoute" v-on:change="routeChanged">
        <option disabled value="">Select Route</option>
        <option v-for="route in routes" v-bind:value="route">
            {{ displayName(route) }}
        </option>
    </select>
    <gmap-map :center="center" :zoom="12" :style="style" :options="options" ref="map">
        <gmap-polyline v-for="shape in shapes" :path="getPath(shape)" :key="shape.id" :options="polylineOptions"></gmap-polyline>
        <gmap-info-window :options="infoOptions" :position="infoWindowPosition" :opened="infoWindowOpen" @closeclick="infoWindowOpen=false"><span v-html="infoWindowContent"></span></gmap-info-window>
        <gmap-marker v-for="stop in stops" :key="stop.id" :position="position(stop)" :clickable="true" @click="openInfoWindowStop(stop)" icon="/mbta-bus/images/stop-marker.gif"></gmap-marker>
        <gmap-marker v-for="vehicle in vehicles" :key="vehicle.id" :position="position(vehicle)" :icon="vehicleIcon(vehicle)" :clickable="true" @click="openInfoWindowVehicle(vehicle)"></gmap-marker>
    </gmap-map>
    <div>
        <span v-for="(headsign, index) in headsigns" :key="headsign"><img :src="markerIcons[index]" style="display: inline;">{{ headsign }}</span>
    </div>
</div>



This is version 4 of this project, released in 10 June 2018.  It is
written in Javascript, using [Vue.js](https://vuejs.org), the Google
Maps v3 API and the [MBTA v3 API](https://www.mbta.com/developers/v3-api).
The source code is available on [GitHub](https://github.com/joeshaw/mbta-bus).


<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/vue-google-maps.js"></script>
<script type="text/javascript" src="js/mbta-bus.js"></script>
